name: esy

on: [push, pull_request]

jobs:
  native:
    name: Build for Native

    strategy:
      matrix:
        system: [ubuntu, macos]

    runs-on: ${{ matrix.system }}-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2-beta
        with:
          node-version: 14

      - name: Install esy
        run: npm install -g esy

      - name: Create esy wrapper
        run: |
          echo '{
            "name": "cross-compile",
            "dependencies": {
              "ocaml": "4.12.x",
              "@opam/mirage-clock": "*",
              "@opam/mirage-clock-unix": "*",
              "@opam/mirage-clock-freestanding": "*",
              "reason-mobile": "github:EduardoRFS/reason-mobile:generate.json#7ba258319b87943d2eb0d8fb84562d0afeb2d41f"
            },
            "resolutions": {
              "@opam/mirage-clock": "./mirage-clock.opam",
              "@opam/mirage-clock-unix": "./mirage-clock-unix.opam",
              "@opam/mirage-clock-freestanding": "./mirage-clock-freestanding.opam"
            }
          }' > esy.json

      - name: Generate esy lock
        run: esy solve

      - uses: esy/github-action@v1
        with:
          cache-key: ${{ hashFiles('esy.lock/index.json') }}

  cross_compile:
    needs: native
    strategy:
      fail-fast: false
      matrix:
        system: [ubuntu, macos]
        target:
          [
            android.arm64,
            android.x86_64,
            ios.arm64,
            ios.simulator.x86_64,
            linux.musl.arm64,
            linux.musl.x86_64,
          ]
        exclude:
          - system: ubuntu
            target: ios.arm64
          - system: ubuntu
            target: ios.simulator.x86_64
          ## TODO: fix linux.musl + macOS on the CI
          - system: macos
            target: linux.musl.arm64
          - system: macos
            target: linux.musl.x86_64

    name: Build ${{ matrix.target }} on ${{ matrix.system }}
    runs-on: ${{ matrix.system }}-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2-beta
        with:
          node-version: 14

      - name: Install esy
        run: npm install -g esy

      - name: Create esy wrapper
        run: |
          echo '{
            "name": "cross-compile",
            "dependencies": {
              "ocaml": "4.12.x",
              "@opam/mirage-clock": "*",
              "@opam/mirage-clock-unix": "*",
              "@opam/mirage-clock-freestanding": "*",
              "reason-mobile": "github:EduardoRFS/reason-mobile:generate.json#7ba258319b87943d2eb0d8fb84562d0afeb2d41f"
            },
            "resolutions": {
              "@opam/mirage-clock": "./mirage-clock.opam",
              "@opam/mirage-clock-unix": "./mirage-clock-unix.opam",
              "@opam/mirage-clock-freestanding": "./mirage-clock-freestanding.opam"
            }
          }' > esy.json

      - name: Generate esy lock
        run: esy solve

      - uses: esy/github-action@v1
        with:
          cache-key: ${{ hashFiles('esy.lock/index.json') }}

      - name: Generate wrapper
        run: esy generate ${{ matrix.target }}

      - name: Build ${{ matrix.target }}
        run: esy @${{ matrix.target }} build
